{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
    {# #password_class{
        display: inline-block;
    } #}
</style>
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
 {{ form_start(registrationForm) }}
        
    <h1>Inscription</h1>

    <div class="container" style="padding: 10px;">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(registrationForm.Nom) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_row(registrationForm.Prenom) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(registrationForm.Entreprise) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_row(registrationForm.email) }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    {{ form_row(registrationForm.DateNaissance) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_row(registrationForm.Telephone) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.AdresseEntreprise) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.AdresseUser) }}
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(registrationForm.Ville) }}
                </div>
                <div class="form-group col-md-2">
                    {{ form_row(registrationForm.CodePostal) }}
                </div>
                <div class="form-group col-md-4">
                    {{ form_row(registrationForm.Pays) }}   
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    {{ form_row(registrationForm.SIRET) }}
                </div>
                <div class="form-group col-md-6">
                    {{ form_row(registrationForm.SIREN) }}
                </div>
            </div>
            <div class="form-row"  id="password_class">
                <div class="form-group col-md-6">
                            {{ form_row(registrationForm.password, {
                                label: 'Password'
                            }) }}
                </div>
            </div>
            <button class="btn btn-success" style="margin-top: 15px;">{{ button_label|default('Save') }}</button>
        </form>
        <cite>
            * la plupart des informations seront automatiquement inscrites lors de la génération de la facture
        </cite>
        {{ form_row(registrationForm._token) }}
    </div>

    {{ form_end(registrationForm) }}
   
{% endblock %}
