{% extends 'base.html.twig' %}

{% block title %}Edit Collaborateur{% endblock %}

{% block body %}

<div class="container">
    <h1>Modification du collaborateur</h1>

    {# {{ include('collaborateur/_form.html.twig', {'button_label': 'Update'}) }} #}

    {{ form_start(form) }}

		<div class="row">
			<div class="col-6">
				{{ form_label(form.Nom) }}
				{{ form_widget(form.Nom) }}
			</div>
			<div class="col-6">
				{{ form_label(form.Prenom) }}
				{{ form_widget(form.Prenom) }}
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				{{ form_label(form.Telephone) }}
				{{ form_widget(form.Telephone) }}
			</div>
            <div class="col-6">
				{{ form_label(form.Email) }}
				{{ form_widget(form.Email) }}
			</div>
		</div>

<hr>
    <h5>Informations professionnel du Client/Collaborateur.</h5>
    <hr>
		<div class="row">
			<div class="col-6">
				{{ form_label(form.entreprise) }}
				{{ form_widget(form.entreprise, { 'attr': {'class': "span12",
    'placeholder': 'Vide si non proffessionnel.'} }) }}
			</div>
		</div>
        <hr style="width: 50%; text-align: center; margin-top: 15px; margin-bottom: 15px;">
        <h5>Coordonnées du Client/Collaborateur.</h5>
		<div class="row">
			<div class="col-6">
				{{ form_label(form.Adresse) }}
				{{ form_widget(form.Adresse) }}
			</div>
            <div class="col-6">
                {{ form_label(form.CodePostal) }}
                {{ form_widget(form.CodePostal) }}
            </div>
		</div>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.Ville) }}
                {{ form_widget(form.Ville) }}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.Reglement) }}
                {{ form_widget(form.Reglement) }}
            </div>
            <div class="col-6">
                {{ form_label(form.ForfaitsCollabs) }}
                {{ form_widget(form.ForfaitsCollabs) }}
            </div>
        </div>
    {{ form_row(form._token) }}
    <button class="btn btn-success" style="margin: 10px 0 10px 0; ">{{ button_label|default('Enregistrer') }}</button>

    <a href="{{ path('app_collaborateur_index') }}">back to list</a>

    {{ include('collaborateur/_delete_form.html.twig') }}

</div>
{% endblock %}
