{% extends 'base.html.twig' %}

{% block title %}Collaborateur index{% endblock %}

{% block body %}
    <h1>Collaborateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Reglement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for collaborateur in collaborateurs %}
            <tr>
                <td>{{ collaborateur.id }}</td>
                <td>{{ collaborateur.Nom }}</td>
                <td>{{ collaborateur.Prenom }}</td>
                <td>{{ collaborateur.Telephone }}</td>
                <td>{{ collaborateur.Email }}</td>
                <td>{{ collaborateur.Adresse }}</td>
                <td>{{ collaborateur.CodePostal }}</td>
                <td>{{ collaborateur.Ville }}</td>
                <td>{{ collaborateur.Reglement ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_collaborateur_show', {'id': collaborateur.id}) }}">show</a>
                    <a href="{{ path('app_collaborateur_edit', {'id': collaborateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_collaborateur_new') }}">Create new</a>
{% endblock %}
