{% extends 'base.html.twig' %}

{% block title %}New Collaborateur{% endblock %}

{% block body %}

    {# {{ include('collaborateur/_form.html.twig') }} #}

    <div class="container">
		<h1>Ajoutez un nouveau Collaborateur</h1>
		{{ form_start(form) }}

		<div class="row">
			<div class="col-6">
				{{ form_label(form.Nom) }}
				{{ form_widget(form.Nom) }}
			</div>
			<div class="col-6">
				{{ form_label(form.Prenom) }}
				{{ form_widget(form.Prenom) }}
			</div>
		</div>

		<div class="row">
			<div class="col-6">
				{{ form_label(form.Telephone) }}
				{{ form_widget(form.Telephone) }}
			</div>
            <div class="col-6">
				{{ form_label(form.Email) }}
				{{ form_widget(form.Email) }}
			</div>
		</div>

<hr>
    <h5>Informations professionnel du Client/Collaborateur.</h5>
    <hr>
		<div class="row">
			<div class="col-6">
				{{ form_label(form.entreprise) }}
				{{ form_widget(form.entreprise, { 'attr': {'class': "span12",
    'placeholder': 'Vide si non proffessionnel.'} }) }}
			</div>
		</div>
        <hr style="width: 50%; text-align: center; margin-top: 15px; margin-bottom: 15px;">
        <h5>Coordonnées du Client/Collaborateur.</h5>
		<div class="row">
			<div class="col-6">
				{{ form_label(form.Adresse) }}
				{{ form_widget(form.Adresse) }}
			</div>
            <div class="col-6">
                {{ form_label(form.CodePostal) }}
                {{ form_widget(form.CodePostal) }}
            </div>
		</div>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.Ville) }}
                {{ form_widget(form.Ville) }}
            </div>
        </div>

		<button class="btn btn-success" style="margin: 10px 0 10px 0; ">{{ button_label|default('Enregistrer') }}</button>

		<a href="{{ path('app_collaborateur_index') }}">
			<button class="btn btn-primary">retourner au menu des collaborateur</button>
		</a>
		{{ form_row(form._token) }}
		<cite>
			* la plupart des informations seront automatiquement inscrites lors de la génération de la facture
		</cite>
	</div>

{% endblock %}
