{% extends 'base.html.twig' %}

{% block title %}Collaborateur{% endblock %}

{% block body %}
    <style>
	p {
		margin: 1px;
	}
</style>
{% for collaborateur in collaborateur %}
	<div class="container">
		<h1>Fiche Collaborateur
			{{ collaborateur.Nom }}
			{{ collaborateur.Prenom }}</h1>

		<div class="row">
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<ul class="list-group">
							<h1>{{ collaborateur.Nom }}
								{{ collaborateur.Prenom }}</h1>
							<li class="list-group-item">Entreprise:
								{{ collaborateur.Entreprise }}</li>
							<li class="list-group-item">Mail:
								{{ collaborateur.Email }}</li>
							<li class="list-group-item">Téléphone:
								{{ collaborateur.Telephone }}</li>
							<li class="list-group-item">Adresse:
								{{ collaborateur.Adresse }}</li>
							<li class="list-group-item">Code postal:
								{{ collaborateur.CodePostal }}</li>
							<li class="list-group-item">Ville:
								{{ collaborateur.Ville }}</li>
							<li class="list-group-item">Facture regler ?
								{{ collaborateur.Reglement ? 'Oui' : 'Non' }}</li>
							<a href="mailto:{{ collaborateur.Email }}">
								<p style="text-align: center; border: 2px solid grey; padding: 3px;">Envoyer Email</p>
							</a>
						</ul>
					</div>
					{# <div class="col-10" style="max-width: 50rem;">
						<div class="card">
							<div class="card-body">
								<p>Montant de la dernière facture:
									{% for montant in montant %}
										{{ montant.montant|default(0)|round(2)}}
									{% else %}
										<p>Aucun montant enregistrer pour le moment</p>
									{% endfor %}
									€ TTC</p>

							</div>
						</div>
					</div> #}
				</div>
			</div>
			<div class="card container col-8">
				<div class="card-header">
					Forfait:
				</div>
				<div class="card-body">
					{% for forfait in collaborateur.ForfaitsCollabs %}
						<h5 class="card-title" style="text-decoration: underline;">Formule(s): N°
							{{ forfait.numFormule }}</h5>

						<p style="text-decoration: underline;">{{ forfait.nomFormule }}</p>
						<p>{{ forfait.description }}</p>
						<p style="text-decoration: underline; text-align: right;">Prix:
							{# {{ forfait.montantTTC }} Rajouter le montant HT et  #}
							€ TTC</p>
						<a href="{{ path('app_forfait_show', {'id': forfait.id}) }}" class="btn btn-primary">voir le forfait</a>
						<div class="b-example-divider b-example-vr" style="border-bottom: 0.1em solid grey; margin: 3px;"></div>
					{% else %}
						<p>Formule(s): Aucune formule enregistrer ! s'il vous plait</p>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="col-2 xs" style="magrin: 3px">
			{# <a href="{{ path('app_pdf', {'id': collaborateur.id}) }}">
				<button class="btn btn-info">Generer PDF</button>
			</a> #}
			<a href="{{ path('app_collaborateur_index') }}">
				<button class="btn btn-primary">Menu</button>
			</a>
			<a href="{{ path('app_collaborateur_edit', {'id': collaborateur.id}) }}">
				<button class="btn btn-success">Editer</button>
			</a>
			<a href="{{ path('app_facture_new') }}">
				<button class="btn btn-success">Rediger facture</button>
			</a>
			    {{ include('collaborateur/_delete_form.html.twig') }}
		</div>
	</div>


{% else %}
	<div class="container">
		<p>Vous n'avez aucun client enregistrer pour le moment, cliquez
			<a href="{{ path('app_collaborateur_new') }}">ici</a>
			pour en ajoutez.</p>
	</div>
{% endfor %}

{% endblock %}
