<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
         <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
         <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
         <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'/>
         <style>
            hr{
                background-color: white;
                width: 100%;
                /*border: 5px solid red;*/
            }

            ul li {
                color: white;
            }
         </style>
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.5.1.min.js"
                integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
                crossorigin="anonymous">
            </script>
            <script src="/js/script.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
            <div class="container-fluid">
                <div class="row flex-nowrap">
                    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                            <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                                <span class="fs-5 d-none d-sm-inline">Accueil</span>
                            </a>
<hr>                            
                                {% if app.user %}

                                <div class="container">
                                {# modifier l'image pour ajouter un avatar et remettre le cercle au centre #}
                                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" style="width: 150px; padding: auto;" alt="Avatar" />
                                </div>
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form>
                                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                                    <li>
                                        <a href="{{ path('app_user_profil') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-user fa-2x "></i> {# fa-3x #}
                                            <span class="fs-4">Profil</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_accueil') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-home"></i>
                                            Accueil
                                        </a>
                                    </li>
                                    <li style="font-size: 18px;">
                                        <a href="{{ path('app_forfait_new') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-plus"></i>
                                            Ajoutez un forfait
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_forfait_index') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-list"></i>
                                            Liste des forfaits
                                        </a>
                                    </li>
                                    <li style="font-size: 18px;">
                                        <a href="{{ path('app_collaborateur_new') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-user-plus"></i>
                                            Ajoutez un client
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_collaborateur_index') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-list"></i>
                                            liste des clients
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('app_logout') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-sign-out"></i>
                                            Déconnexion
                                        </a>
                                    </li>
                                </ul>   
                                {% else %}
                                        <a href="{{ path('app_register') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-registered"></i>
                                            S'inscrire
                                        </a>
                                        <a href="{{ path('app_login') }}" class="nav-link link-dark text-white text-decoration-none" aria-current="page">
                                            <i class="fa fa-sign-in"></i>
                                            Se connecter
                                        </a>
                                {% endif %}                           
                            <hr>
                            <div class="dropdown pb-4">
                                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                    <span class="d-none d-sm-inline mx-1">loser</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                    <li><a class="dropdown-item" href="#">New project...</a></li>
                                    <li><a class="dropdown-item" href="#">Settings</a></li>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col py-3">
                        <div class="container">
                            {% block body %}{% endblock %}
                         </div>
                    </div>
                </div>
            </div>
        
    </body>
</html>
