{% extends 'base.html.twig' %}

{% block title %}Forfait index{% endblock %}

{% block body %}
    <h1>Forfait index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomFormule</th>
                <th>NumFormule</th>
                <th>Description</th>
                <th>Quantite</th>
                <th>MontantQ</th>
                <th>NombreH</th>
                <th>MontantH</th>
                <th>TVA</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forfait in forfaits %}
            <tr>
                <td>{{ forfait.id }}</td>
                <td>{{ forfait.NomFormule }}</td>
                <td>{{ forfait.NumFormule }}</td>
                <td>{{ forfait.Description }}</td>
                <td>{{ forfait.Quantite }}</td>
                <td>{{ forfait.MontantQ }}</td>
                <td>{{ forfait.NombreH }}</td>
                <td>{{ forfait.MontantH }}</td>
                <td>{{ forfait.TVA }}</td>
                <td>
                    <a href="{{ path('app_forfait_show', {'id': forfait.id}) }}">show</a>
                    <a href="{{ path('app_forfait_edit', {'id': forfait.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_forfait_new') }}">Create new</a>
{% endblock %}
