{% extends 'base.html.twig' %}

{% block title %}New Forfait{% endblock %}

{% block body %}
<style>

</style>
    <div class="container">
		<h1>Ajoutez une nouvelle formule</h1>
		{{ form_start(form) }}

		<div class="row">
			<div class="col-6">
				{{ form_label(form.NomFormule) }}
				{{ form_widget(form.NomFormule) }}
			</div>
			<div class="col-6">
				{{ form_label(form.NumFormule) }}
				{{ form_widget(form.NumFormule) }}
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				{{ form_label(form.Description) }}
				{{ form_widget(form.Description) }}
			</div>
		</div>

<hr>
    <h5>Quantité et Montant des Forfaits/Prestations.</h5>
    <hr>
		<div class="row">
			<div class="col-6">
				{{ form_label(form.Quantite) }}
				{{ form_widget(form.Quantite) }}
			</div>
			<div class="col-6">
				{{ form_label(form.MontantQ) }}
				{{ form_widget(form.MontantQ) }}
			</div>
		</div>
        <hr style="width: 50%; text-align: center; margin-top: 15px; margin-bottom: 15px;">
		<div class="row">
            <div class="col-6">
                {{ form_label(form.NombreH) }}
                {{ form_widget(form.NombreH) }}
            </div>
			<div class="col-6">
				{{ form_label(form.MontantH) }}
				{{ form_widget(form.MontantH) }}
			</div>
		</div>
        <hr>
        <h5>Montant de la TVA.</h5>
        <div class="row">
            <div class="col-6">
                {{ form_label(form.TVA) }}
                {{ form_widget(form.TVA) }}
            </div>
        </div>

		<button class="btn btn-success" style="margin: 10px 0 10px 0; ">{{ button_label|default('Enregistrer') }}</button>


		<a href="{{ path('app_forfait_index') }}">
			<button class="btn btn-primary">retourner au menu des formules</button>
		</a>
		<cite>
			* la plupart des informations seront automatiquement inscrites lors de la génération de la facture
		</cite>
	</div>
{{ form_row(form._token) }}

    <a href="{{ path('app_forfait_index') }}">back to list</a>
{% endblock %}
