{% extends 'base.html.twig' %}

{% block title %}Forfait{% endblock %}

{% block body %}
    <h1>Forfait</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ forfait.id }}</td>
            </tr>
            <tr>
                <th>NomFormule</th>
                <td>{{ forfait.NomFormule }}</td>
            </tr>
            <tr>
                <th>NumFormule</th>
                <td>{{ forfait.NumFormule }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ forfait.Description }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ forfait.Quantite }}</td>
            </tr>
            <tr>
                <th>MontantQ</th>
                <td>{{ forfait.MontantQ }}</td>
            </tr>
            <tr>
                <th>NombreH</th>
                <td>{{ forfait.NombreH }}</td>
            </tr>
            <tr>
                <th>MontantH</th>
                <td>{{ forfait.MontantH }}</td>
            </tr>
            <tr>
                <th>TVA</th>
                <td>{{ forfait.TVA }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_forfait_index') }}">back to list</a>

    <a href="{{ path('app_forfait_edit', {'id': forfait.id}) }}">edit</a>

    {{ include('forfait/_delete_form.html.twig') }}
{% endblock %}
