{% extends 'base.html.twig' %}

{% block title %}New Facture{% endblock %}

{% block body %}
    {# {{ include('facture/_form.html.twig') }}
    <a href="{{ path('app_facture_index') }}">back to list</a>
    <h1>Create new Facture</h1> #}

<div class="container">
		<h1>Ajoutez une nouvelle formule</h1>
		{{ form_start(form) }}

		<div class="row">
			<div class="col-6">
				<label for="facture_DateFacture" class="form-label required">Date de redaction de la facture</label>
				<input type="text" id="facture_DateFacture" name="facture" required="required" placeholder="{{ "now"|date("d/m/Y") }}" disabled="disabled" class="form-control" />
			</div>
			<div class="col-6">
				{{ form_label(form.Etat) }}
				{{ form_widget(form.Etat) }}
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				{{ form_label(form.NumFacture) }}
				{{ form_widget(form.NumFacture) }}
			</div>
		</div>

<hr>
    <h5>Quantité et Montant des Forfaits/Prestations.</h5>
    <hr>
		<div class="row">
			<div class="col-6">
				{{ form_label(form.FacturePDF) }}
				{{ form_widget(form.FacturePDF) }}
			</div>
			<div class="col-6">
				{{ form_label(form.delaiePaiement) }}
				{{ form_widget(form.delaiePaiement) }}
			</div>
		</div>
        <hr style="width: 50%; text-align: center; margin-top: 15px; margin-bottom: 15px;">
		<div class="row">
            <div class="col-6">
                {{ form_label(form.CollaborateursFact) }}
                {{ form_widget(form.CollaborateursFact) }}
            </div>
		</div>
        <hr>
		<button class="btn btn-success" style="margin: 10px 0 10px 0; ">{{ button_label|default('Enregistrer') }}</button>


		<a href="{{ path('app_forfait_index') }}">
			<button class="btn btn-primary">retourner au menu des formules</button>
		</a>
		<cite>
			* la plupart des informations seront automatiquement inscrites lors de la génération de la facture
		</cite>
	</div>
{{ form_row(form._token) }}

    <a href="{{ path('app_forfait_index') }}">back to list</a>
{% endblock %}
