{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>DateFacture</th>
                <td>{{ facture.DateFacture ? facture.DateFacture|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ facture.Etat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>NumFacture</th>
                <td>{{ facture.NumFacture }}</td>
            </tr>
            <tr>
                <th>FacturePDF</th>
                <td>{{ facture.FacturePDF }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_facture_index') }}">back to list</a>

    <a href="{{ path('app_facture_edit', {'id': facture.id}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
