{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
		<div class="container" style="text-align: center; font-weight: bold; font-style: italic; margin: 9px">
			<h1>GESTIONO</h1>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<div class="card">
					<div class="card-body">
						<div class="card-body">
							<h5 class="card-title">{{ user.Nom }}
								{{ user.Prenom }}</h5>
							<cite>Entreprise:</cite>
							<p class="card-text">
								{{ user.Entreprise }}</p>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Mail:
							{{ user.email }}</li>
						<li class="list-group-item">Adresse:
							{{ user.AdresseEntreprise }}</li>
						<li class="list-group-item">Code Postale:
							{{ user.codePostal }}</li>
						<li class="list-group-item">Ville:
							{{ user.Ville }}</li>
						<li class="list-group-item">Pays: {{ user.Pays }}</li>
					</ul>
					<div class="card-body" style="background: #edede9">
						<a href="{{path('app_user_edit',{'id':user.id})}}" class="card-link">Modifier Profil</a>
						<a href="#" class="card-link">(chercher fonctionnalité)</a>
					</div>
				</div>


			</div>
			<div class="col-sm-9">
				<div class="container" style="border: 1px solid #f8f9fa; border-radius: 20px;">
					<div class="card-body">
						{% for collaborateur in pagination %}
							<div class="container bg-light" style="border-radius: 20px; margin: 9px 0 9px 0; padding: 20px; ">
								<h5>
									<a href="{{ path('app_collaborateur_show', {'id': collaborateur.id}) }}">{{ collaborateur.nom }}
										{{ collaborateur.prenom }}</a>
								</h5>
								<p class="title" style="margin-bottom: 1px">Entreprise:
									{{ collaborateur.entreprise }}
									Mail:
									{{ collaborateur.Email }}
									Téléphone:
									{{ collaborateur.telephone }}
									Code postal:
									{{ collaborateur.codePostal }}
									Ville:
									{{ collaborateur.Ville }}
								</p>
								<div class="container">
									<p style="margin-bottom: 1px">Liste des forfaits:</p>
									{% for forfait in collaborateur.ForfaitsCollabs %}
										<div class="card bg-light mb-6" style="max-width: 50rem; margin-bottom: 8px;">
											<div class="card-header">
												nom de la formule:
												<a href="{{path('app_forfait_show',{'id':forfait.id})}}">{{ forfait.nomFormule }}</a>
											</div>
											<div class="card-body">
												<h5 class="card-title">Formule: n°
													{{ forfait.numFormule }}</h5>
												<p class="card-text">{{ forfait.description }}</p>
											</div>
										</div>

									{% else %}
										<p>Aucune formule enregistrer</p>
									{% endfor %}
								</div>
								<div class="col-2" style="margin-left: 85%; margin-top: 5px">
									<a href="{{ path('app_collaborateur_edit', {'id': collaborateur.id}) }}">
										<button class="btn btn-success">Modifier</button>
										{# prevoir un bouton pour voir cette facture!! #}
									</a>
									{# <a href="{{ path('app_mail') }}"> #}
										<button class="btn btn-success">MAIL</button>
										{# prevoir un bouton pour voir cette facture!! #}
									</a>
								</div>
							</div>
						{% else %}
							<tr>
								<td colspan="6">Aucun client/collaborateur enregistrer pour le moment !</td>
							</tr>
						{% endfor %}
					</div>
					{{ knp_pagination_render(pagination) }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
